<ion-header>
  
  <ion-navbar>
    <button ion-button menuToggle class="button-transparent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }} {{day}}</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!done">
    <ion-row text-center>
      <ion-col>
        <p>Porcentaje de avance</p>
        <h1>{{items.percentaje}} %</h1>

      </ion-col>
      <ion-col>
        <p>Tareas completadas</p>
        <h1>{{items.itemsDone}} de {{items.items.length}}</h1>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-item-sliding *ngFor="let item of currentItems">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          
          <h2><ion-icon *ngIf="item.done" color="secondary" name="checkmark-circle"></ion-icon> {{item.name}}</h2>
          <p>{{item.about}}</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>

        <ion-item-options  *ngIf="!item.done">
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
          <button ion-button color="blue" (click)="doneItem(item)">
            {{ 'DONE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-row *ngIf="done" text-center style="padding: 22% 0;">
    <ion-col>
      <img src="assets/img/medal.png" style="width: 128px;">
      <h2 ion-text>{{ 'CONGRATS_TITLE' | translate }}</h2>
      <h3 ion-text>{{ 'CONGRATS_SUBTITLE' | translate }}</h3>
    </ion-col>
  </ion-row>
</ion-content>